{% extends 'app/base.html' %}
{% block content %}
    <h2 class="user-name">@{{ user.username }}</h2>
    {% if photos.count != 0 %}
        <p>投稿 <strong>{{ photos.count }}</strong>件</p>
    {% else %}
        {% if user == request.user %}
            <p>初めての投稿をしてみましょう!</p>
            <form action="{% url 'app:photos_post' %}" method="get">{% csrf_token %}
                <button type="submit" class="button">投稿してみる</button>
            </form>
        {% else %}
            <p>@{{ user.username }}さんはまだ投稿をしていません</p>
        {% endif %}
    {% endif %}

    {% include 'app/photos_list.html' %}
{% endblock %}